@charset "UTF-8";

@font-face {
  font-family: TTInterfaces;
  font-display: swap;
  src: url("../fonts/TTInterfaces-Bold.woff2") format("woff2"), url("../fonts/TTInterfaces-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: TTInterfaces;
  font-display: swap;
  src: url("../fonts/TTInterfaces-ExtraBold.woff2") format("woff2"), url("../fonts/TTInterfaces-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: TTInterfaces;
  font-display: swap;
  src: url("../fonts/TTInterfaces-Medium.woff2") format("woff2"), url("../fonts/TTInterfaces-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: TTInterfaces;
  font-display: swap;
  src: url("../fonts/TTInterfaces-SemiBold.woff2") format("woff2"), url("../fonts/TTInterfaces-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
}

input,
button {
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  line-height: 1;
}

button,
input[type=submit] {
  background: none;
  cursor: pointer;
}

input:focus,
button:focus {
  outline: none;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  line-height: 1;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

/*------------- //reset -------------------------------------*/

html {
  height: 100%;
  overflow-x: hidden;
}

body {
  font-family: "TTInterfaces";
  font-size: 1rem;
  font-weight: 500;
  color: #a7a7c8;
  line-height: 1.25;
  height: 100%;
  overflow-x: hidden;
  background-color: #0e112d;
  background-color: #050622;
}

body._lock {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

body._lock-scrol {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

[class*=__container] {
  max-width: 85rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.select {
  color: #484848;
  width: 100%;
  position: relative;
  z-index: 5;
  font-size: 0.875rem;
  font-weight: 600;
  min-width: 11.25rem;
}

.select__inner {
  position: relative;
}

.select__input {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  min-height: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.4375rem;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  padding-left: 1.8125rem;
  padding-right: 1.0625rem;
  cursor: pointer;
  background-color: #ffffff;
}

.select.open .select__input {
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.select__value {
  white-space: nowrap;
}

.select__placeholder {
  color: #cccccc;
}

.select__arrow {
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  padding-left: 1rem;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.select__arrow span {
  display: inline-block;
  -webkit-transition: -webkit-transform 0.1s;
  transition: -webkit-transform 0.1s;
  -o-transition: transform 0.1s;
  transition: transform 0.1s;
  transition: transform 0.1s, -webkit-transform 0.1s;
  line-height: 0;
}

.select__arrow span svg {
  width: 0.625rem;
  height: 0.375rem;
}

.select.open .select__arrow span {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select__dropdown {
  display: none;
  position: absolute;
  border: 1px solid #cccccc;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 12.5rem;
  overflow-y: auto;
  -webkit-box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
}

.select.open .select__dropdown {
  display: block;
}

.select__item {
  padding: 0.625rem 1rem;
  -webkit-transition: background-color 0.15s ease-in;
  -o-transition: background-color 0.15s ease-in;
  transition: background-color 0.15s ease-in;
}

.select__item:not(:last-child) {
  border-bottom: 1px solid #cccccc;
}

.select__item.selected {
  background-color: rgba(151, 200, 109, 0.3411764706);
}

.select__item:hover {
  background-color: #eeeeee;
  cursor: pointer;
}

.tariff__button {
  background: -o-linear-gradient(343.86deg, #18baff 20.27%, #564fff 78.28%);
  background: linear-gradient(106.14deg, #18baff 20.27%, #564fff 78.28%);
  border-radius: 5px;
  min-height: 4.0625rem;
  max-width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  color: #fff;
  -webkit-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
  padding-top: 2.875rem;
  padding-bottom: 3.375rem;
}

.header__logo {
  color: #fff;
  font-weight: 800;
  font-size: 1.5625rem;
}

.header__logo span {
  color: #18baff;
}

.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
}

.top-page__inner {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.5625rem;
     -moz-column-gap: 1.5625rem;
          column-gap: 1.5625rem;
  row-gap: 3.125rem;
}

.top-page__left-block {
  max-width: 50%;
}

.top-page__title {
  font-weight: 800;
  font-size: 3.5rem;
  line-height: 1.2857142857;
  color: #fff;
  margin-bottom: 0.875rem;
}

.top-page__text {
  margin-bottom: 1.5625rem;
}

.top-page__text span {
  font-size: 1.125rem;
}

.top-page__text p {
  margin-bottom: 0.625rem;
}

.top-page__img-inner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.top-page__img {
  background-color: #050622;
  width: 80%;
  padding-bottom: 80%;
  border-radius: 50%;
}

.top-page img {
  border-radius: 50%;
}

.shadow::after,
.shadow::before {
  content: "";
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 5px;
  border-radius: 50%;
  background: -o-linear-gradient(45deg, rgb(24, 186, 255), rgb(69, 0, 217), rgb(24, 186, 255), rgb(69, 0, 217), rgb(24, 186, 255), rgb(69, 0, 217), rgb(24, 186, 255), rgb(69, 0, 217));
  background: linear-gradient(45deg, rgb(24, 186, 255), rgb(69, 0, 217), rgb(24, 186, 255), rgb(69, 0, 217), rgb(24, 186, 255), rgb(69, 0, 217), rgb(24, 186, 255), rgb(69, 0, 217));
  background-size: 500%;
  z-index: -1;
  -webkit-animation: animate 30s ease infinite;
          animation: animate 30s ease infinite;
}

.shadow::after {
  -webkit-filter: blur(16px);
          filter: blur(16px);
}

@-webkit-keyframes animate {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 300% 0;
  }

  100% {
    background-position: 0 0;
  }
}

@keyframes animate {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 300% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.questions {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
}

.questions__title {
  text-align: center;
  margin-bottom: 2.6875rem;
}

.questions__spoller {
  background-color: #1e2242;
  margin-bottom: 1.25rem;
}

.questions__spoller-title {
  padding: 1.875rem;
  padding-right: 4.375rem;
  font-weight: 700;
  color: #fff;
  font-size: 1.5625rem;
}

.questions__spoller-content {
  padding: 0rem 1.875rem 1.875rem;
  font-weight: 500;
}

.questions__spoller-text {
  margin-bottom: 50px;
}

.questions__contacts {
  padding-top: 1.25rem;
  font-size: 1.125rem;
}

/* плюсикы отк/зак второго спойлера */

.questions__spoller-title {
  position: relative;
  display: block;
  width: 100%;
  text-align: start;
}

.questions__spollers._init .questions__spoller-title::before,
.questions__spollers._init .questions__spoller-title::after {
  content: "";
  width: 1.75rem;
  height: 0.125rem;
  background-color: #fff;
  position: absolute;
  top: calc(50% - 0.125rem);
  right: 1.875rem;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.questions__spollers._init .questions__spoller-title::after {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.questions__spollers._init .questions__spoller-title._active::after {
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}

/* /плюсикы отк/зак второго спойлера */

.footer {
  padding-top: 2.5rem;
  padding-bottom: 3.125rem;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__telegram-btn {
  margin-bottom: 2.1875rem;
}

.footer__payment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.875rem;
  margin-bottom: 1.25rem;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.fon-img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.title {
  color: #fff;
  font-weight: 800;
  font-size: 2.25rem;
  line-height: 1.2777777778;
}

.colorYellow {
  color: #ffb800;
}

.colorRed {
  color: #ff2525;
}

.btnColor1 {
  background-color: #564fff;
}

.rainbow-text {
  background: -webkit-gradient(linear, left top, right top, from(rgb(24, 186, 255)), to(rgb(69, 0, 217)));
  background: -o-linear-gradient(left, rgb(24, 186, 255) 0%, rgb(69, 0, 217) 100%);
  background: linear-gradient(90deg, rgb(24, 186, 255) 0%, rgb(69, 0, 217) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.noBtn {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 50px;
  height: 50px;
  background-color: transparent;
}

.okNoBtn {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 10;
  color: #050622;
  padding: 15px;
  border-radius: 10px;
  background-color: #1ba539;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (max-width: 85rem) {
  .select__input {
    padding-left: calc(0.6875rem + 1.125 * ((100vw - 20rem) / (85 - 20)));
  }

  .select__input {
    padding-right: calc(0.625rem + 0.4375 * ((100vw - 20rem) / (85 - 20)));
  }

  .select__arrow {
    padding-left: calc(0.625rem + 0.375 * ((100vw - 20rem) / (85 - 20)));
  }

  .header__inner {
    padding-top: calc(1.25rem + 1.625 * ((100vw - 20rem) / (85 - 20)));
  }

  .header__inner {
    padding-bottom: calc(2.6875rem + 0.6875 * ((100vw - 20rem) / (85 - 20)));
  }

  .top-page__title {
    margin-bottom: calc(0.5625rem + 0.3125 * ((100vw - 20rem) / (85 - 20)));
  }

  .questions__title {
    margin-bottom: calc(2.0625rem + 0.625 * ((100vw - 20rem) / (85 - 20)));
  }

  .footer {
    padding-top: calc(1.25rem + 1.25 * ((100vw - 20rem) / (85 - 20)));
  }

  .footer {
    padding-bottom: calc(1.875rem + 1.25 * ((100vw - 20rem) / (85 - 20)));
  }

  .title {
    font-size: calc(1.125rem + 1.125 * ((100vw - 20rem) / (85 - 20)));
  }
}

@media (max-width: 61.99875em) {
  .top-page__title {
    font-size: 2.125rem;
  }
}

@media (max-width: 47.99875em) {
  .top-page__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .top-page__left-block {
    max-width: 100%;
  }
}

@media (max-width: 29.99875em) {
  .header__inner {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .header__logo {
    display: none;
  }

  .top-page__title {
    font-size: 1.625rem;
  }

  .questions__spoller-title {
    padding: 1.25rem;
    padding-right: 2.5rem;
  }

  .questions__spoller-content {
    padding: 0rem 1.25rem 1.25rem;
  }

  .questions__spollers._init .questions__spoller-title::before,
  .questions__spollers._init .questions__spoller-title::after {
    right: 0.625rem;
    width: 1.25rem;
  }
}

@media (max-width: 20rem) {
  .select__input {
    padding-left: 0.6875rem;
  }

  .select__input {
    padding-right: 0.625rem;
  }

  .select__arrow {
    padding-left: 0.625rem;
  }

  .header__inner {
    padding-top: 1.25rem;
  }

  .header__inner {
    padding-bottom: 2.6875rem;
  }

  .top-page__title {
    margin-bottom: 0.5625rem;
  }

  .questions__title {
    margin-bottom: 2.0625rem;
  }

  .footer {
    padding-top: 1.25rem;
  }

  .footer {
    padding-bottom: 1.875rem;
  }

  .title {
    font-size: 1.125rem;
  }
}

@media (any-hover: hover) {
  .tariff__button:hover {
    opacity: 0.8;
  }
}